*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# Layers
layers/pillow/pillow-layer.zip

# Misc
/tmp/
*.pyc
.DS_Store
node_modules/
